/** NAVBAR **/
.navbar-item {
	transition: .3s ease-in-out
}

/** SOCIAL LINKS **/
.social-links > a{
	transition:all 0.3s ease;
}

.social-link {
	padding-bottom: 25px;
    padding-top: 25px;
    margin: 8px;
    width: 65px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-dribbble {
    background: #ea4c89;
    color: white;
}

.fa-github {
    background: #e8e8e8;
    color: black;
}

.fa-envelope-o {
    background: #00b489;
    color: white;
}

.social-links .fa:hover {
    opacity: 0.7;
    background: black;
    color: white;
}

/** PROJECTS **/
.project .image img {
	opacity:1;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.project:hover img{
	opacity: 0.5;
}

.pink-hover .image {
	background: #ea4c89;
}
.pink-hover:hover h1{
	color: #ea4c89;
}
.blue-hover .image {
	background: #007bb5;
}
.blue-hover:hover h1{
	color: #007bb5;
}
.green-hover .image {
	background: #00b489;
}
.green-hover:hover h1{
	color: #00b489;
}
.grey-hover .image {
	background: #545454;
}
.grey-hover:hover h1{
	color: #545454;
}

/** PROJECT DETAIL **/
.project-tiles img{
	border-width: 1px;
    border-color: Black;
}
.modal-content{
	width:1000px;
}

/** EYES **/
.container {
  width: 100%;
}
.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right:8px;
  background: #CCC;
}
.eye:after { /*pupil*/
  position: absolute;
  bottom: 12px;
  right: 8px;
  width: 7px;
  height: 7px;
  background: #000;
  border-radius: 50%;
  content: " ";
}