/** SOCIAL LINKS **/
.social-links > a{
	transition:all 0.3s ease;
}

.social-link {
	padding-bottom: 25px;
    padding-top: 25px;
    margin: 8px;
    width: 65px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-dribbble {
    background: #ea4c89;
    color: white;
}

.fa-github {
    background: #e8e8e8;
    color: black;
}

.fa-envelope-o {
    background: #00b489;
    color: white;
}

.fa:hover {
    opacity: 0.7;
    background: black;
    color: white;
}

/** PROJECTS **/
.project figure img {
	opacity:1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.project:hover img{
	opacity: 0.5;
}

.pink-hover figure {
	background: #ea4c89;
}
.pink-hover:hover h1{
	color: #ea4c89;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.blue-hover figure {
	background: #007bb5;
}
.blue-hover:hover h1{
	color: #007bb5;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.green-hover figure {
	background: #00b489;
}
.green-hover:hover h1{
	color: #00b489;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
