/** NAVBAR **/

.navbar-item {
	transition: .3s ease-in-out
}

/** SOCIAL LINKS **/
.social-links > a{
	transition:all 0.3s ease;
}

.social-link {
	padding-bottom: 25px;
  padding-top: 25px;
  margin: 8px;
  width: 65px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-dribbble {
    background: #ea4c89;
    color: white;
}

.fa-github {
    background: #595959;
    color: black;
}

.fa-envelope-o {
    background: #00b489;
    color: white;
}

.social-links .fa:hover {
    background: white;
    color: black !important;
}

/** HERO **/
#hero-back {
  background: url(resources/annie-spratt-277569.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#hero-back-cover {
  -webkit-background-size: cover;
  max-width:1000px;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:linear-gradient(
                     rgba(0,0,0, .7), 
                     rgba(0,00,0, .7));
}

.hero .title {
  padding-bottom:5px;
}

/** BACK TO TOP **/
.back-to-top {
  position: fixed;
  margin:25px;
  width: 65px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  z-index: 100;
  padding-bottom: 19px;
  padding-top: 15px;
  color: #ffffff;
  background-color: #fcc920;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
}

.back-to-top:hover {
    background: #2d2d2d;
    color: white;
}

.show {
  opacity: 1;
  visibility: visible;
}

/** PROJECTS **/
.project .image img {
	opacity:1;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out; 
}
.project:hover img{
	opacity: 0.5;
}

.pink-hover .image {
	background: #ea4c89;
}
.pink-hover:hover h1{
	color: #ea4c89;
}
.blue-hover .image {
	background: #007bb5;
}
.blue-hover:hover h1{
	color: #007bb5;
}
.green-hover .image {
	background: #00b489;
}
.green-hover:hover h1{
	color: #00b489;
}
.grey-hover .image {
	background: #545454;
}
.grey-hover:hover h1{
	color: #545454;
}

/** PROJECT DETAIL **/
.project-tiles img{
	border-width: 1px;
    border-color: Black;
}
.modal-content{
	width:1000px;
}

/** EYES **/
.container {
  width: 100%;
}
.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #CCC;
  margin-right: 5px;
}
.eye:after { /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  content: " ";
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/** IMG HOVERS **/
@import url(https://fonts.googleapis.com/css?family=Montserrat:200);
.snip1577 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  max-width: 315px;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 16px;
  background: #000;
}

.snip1577 *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.snip1577 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1577:before,
.snip1577:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.snip1577:before {
  width: 0;
  height: 1px;
}

.snip1577:after {
  height: 0;
  width: 1px;
}

.snip1577 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 20px;
}

.snip1577 h3,
.snip1577 h4 {
	color: white;
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}

.snip1577 h4 {
  font-size: .8em;
}

.snip1577 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1577:hover img,
.snip1577.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.snip1577:hover:before,
.snip1577.hover:before,
.snip1577:hover:after,
.snip1577.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.snip1577:hover:before,
.snip1577.hover:before {
  width: 40px;
}

.snip1577:hover:after,
.snip1577.hover:after {
  height: 40px;
}

.snip1577:hover h3,
.snip1577.hover h3,
.snip1577:hover h4,
.snip1577.hover h4 {
  opacity: 1;
}

.snip1577:hover h3,
.snip1577.hover h3 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1577:hover h4,
.snip1577.hover h4 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}